body{
  font-family: monospace;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-inverse{
  border-color: transparent;
}
#course{
  transition: all 0.3s ease-in-out;
}
#course:hover{
  background-color: #0751a6;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
#sub-dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  margin-left: 186px;
  margin-top: -26px;
}
#sub-dropdown-menu a,.dropdown-menu a{
  color:#000 !important;
  font-size: 16px !important;
}
.dropdown:hover .dropdown-menu{
  display: block;transition: all o.5s ease-in-out;
}
.dropdown .dropdown-menu a:hover{background-color: #c9c7c7;}
#sub-dropdown:hover #sub-dropdown-menu{display:block;}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.image img
{
  margin-left: 6%;
}
.search-container
{
  float: right;
}
.search-container input{
  width: 500px;
  height: 40px;
  margin-top: 3%;
}
.search-container button
{
  height: 40px;
  margin-top:1%;
}
.search-container button:hover {
  background: #8B0000;
}
.form-group
{
  margin-bottom: 15px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color:snow;
  background-color: #2F4F4F;
  padding-right:29px;
}
.bottom-left:hover{
  background-color: red;
}
h3{
  position: relative;
  text-align: center;
  padding-bottom: 2%;
}
h4,h6{
  position: relative;
  text-align: center;
}
.zoom {
  transition: transform .2s;
  margin-left: 2%;
}
.zoom:hover{
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);
}
.history{
  border-style: groove;
  width: 90%;
  margin-left:5%;
}
.subscribe-container{
  margin-left: 28%;
}
.subscribe-container input{
  width: 500px;
  height: 40px;
  margin-top: 1%;
}
.subscribe-container button:hover {
  background: #8B0000;
}
.col-md-2
{
  margin-top:3%;
}
.col-md-2.h6{
  margin-right: 6%;
}
a{
  text-decoration-color: white;
}

.allLevelImages{
  position: relative;
  margin-bottom: 180em;
}

 

.types{
  margin-top: auto;
}
.sarees{
  position: absolute;
  height: 60rem;
}

.cover{
  position: absolute;
  left: 20rem;
}

.kurta{
  position: absolute;
  top:20rem;
  left:20rem;
}

.anarkali{
  position: absolute;
  top:20rem;
  left:60rem;
}

.lehenga{
  position: absolute;
  top:60rem;
}

.necklace_sets{
  position: absolute;
  height:20rem;
  left: 20rem;
  top:60rem;
}

.kidswear{
  position: absolute;
  top:80rem;
  left: 20rem;
 
}

.menswear{
  position: absolute;
  top: 80rem;
  left:60rem;
}

.earrings{
  position: absolute;
  top: 100rem;
}

.home_decor{
  position: absolute;
  top: 120rem;

}

.bags{
  position: absolute;
  top: 120rem;
  left: 40rem;
}
.roots_of_india{
  position: absolute;
  top: 140rem;
  left: 40rem;
}

.footwear{
  position: absolute;
  top: 160rem;
}
.logo{
  margin-left: 4%;
}
.one{
    border-style: groove;
    width: 90%;
  }
.two{
  border-style: groove;
  width: 90%;
}

/* For mobile phones: */
@media (max-width: 767px){

  .allLevelImages{
    position: relative;
    margin-bottom: 280rem;
  }

  .sarees{
    position: absolute;
    width: 100%;

  }
  .cover{
    position: absolute;
    width: 100%;
    top: 60rem;
    left: 0rem;
  }
  .kurta{
    position: absolute;
    width: 100%;
    top:67rem;
    bottom: 0rem;
    left: 0rem;
  }
  .anarkali{
    position: absolute;
    width: 100%;
    height: auto;
    top: 88rem;
    bottom: 0rem;
    left: 0rem;
  }
  .lehenga{
    position: absolute;
    width: 100%;
    height: auto;
    top: 110rem;
    left: 0em;
  }
  .necklace_sets{
    position: absolute;
    width: 100%;
    height: auto;
    top: 153.5rem;
    bottom: 0em;
    left: 0em;;
  }
  .kidswear{
    position: absolute;
    width: 100%;
    height: auto;
    top: 161rem;
    bottom: 0em;
    left: 0em;
  }
  .menswear{
    position: absolute;
    width: 100%;
    height: auto;
    top:170rem;
    bottom: 0em;
    left: 0em;
    margin-bottom: -20rem;

  }
  .earrings{
    position: absolute;
    width: 100%;
    height: auto;
    top:214rem;
    bottom: 0em;
    left: 0em;
  }
  .home_decor{
    position: absolute;
    width: 100%;
    height: auto;
    top:221rem;
    bottom: 0em;
    left: 0em;
 }
 .bags{
   position: absolute;
   width: 100%; 
   height: auto;
   bottom: 0em;
   left: 0em;
   top: 240rem;
 }
 .roots_of_india{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0em;
  top:250rem;
  left: 0em;
}
.footwear{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0em;
  left: 0em;
  top:270rem;
}

}