body{
  font-family: montserrat;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
}
*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.toggler{
  display:none;
}
.nav-header nav{
  height: 3rem;
  width: 100%;
}
.nav-header nav ul li{
  display: inline-block;
  line-height: 1rem;
  margin: 0 0.5rem;
}
.nav-header ul .right-side{
  display: inline-block;
  margin-left:35rem;
}
.nav-header ul li a{
  color: #8B0000;
  text-transform: none;
  border-right: 0.1rem solid #8B0000;
}
 .nav-header ul li a:link{
   text-decoration: none;
 }
.nav-header ul li a:hover{
  background: snow;
  transition: .5s;
}
.checkbtn{
  font-size: 1rem;
  color: black;
  float: right;
  line-height:2rem;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.navbar-inverse{
  border-color: transparent;
}
#course{
  transition: all 0.3s ease-in-out;
  color: black;

}
#course:hover{
  background-color:#8B0000;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
#sub-dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
  margin-left: 186px;
  margin-top: -26px;
}
#sub-dropdown-menu a,.dropdown-menu a{
  color:#000 !important;
  font-size: 16px !important;
}
.dropdown:hover .dropdown-menu{
  display: block;transition: all o.5s ease-in-out;
}
.dropdown .dropdown-menu a:hover{background-color: #c9c7c7;}
#sub-dropdown:hover #sub-dropdown-menu{display:block;transition: all o.5s ease-in-out;}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.image img
{
  margin-left: 6%;
}
.search-container
{
  float: right;
}
.search-container input{
  width: 30rem;
  height: 3rem;
  margin-top: 3%;
}
.search-container button
{
  width: 3rem;
  height: 3rem;
  margin-top:1%;
  background-color: #8B0000;
}
.search-container button i{
  color: white;
}
.form-group
{
  margin-bottom: 15px;
}
.card-block a:link{
  text-decoration: none;
}
.card-block img{
  margin-left: .5rem;
}
.card-footer{
  color: snow;
  background: black;
}
.card-footer:hover{
  background-color: red;
}
h3{
  position: relative;
  text-align: center;
  padding-bottom: 2%;
}
h4,h6{
  position: relative;
  text-align: center;
}
.zoom {
  transition: transform .2s;
}
.stationary-zoomer{
  display: flex;
  justify-content: space-between;
}
.zoom:hover{
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.1);
}
.history{
  border-style: groove;
  width: 90%;
  margin-left:5%;
  font-family: 'Times New Roman', Times, serif;
}
.history a{
  color:purple;
}
#testimony{
  position: relative;
  left:4rem;
}
.start{
  position: relative;
  color: #8B0000;
}
.end{
  position: relative;
  left:95%;
  color: #8B0000;
}
.one{
  border-style: groove;
  width: 90%;
  font-size: small;
  line-height: 1.5rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.two{
border-style: groove;
width: 90%;
font-size: small;
line-height: 1.5rem;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subscribe-container{
  margin-left: 28%;
}
.subscribe-container input{
  width: 500px;
  height: 2rem;
  margin-top: 1%;
}
.subscribe-container button {
  color: snow;
  background: #8B0000;
}
.col-md-2
{
  margin-top:3%;
}
.col-md-2.h6{
  margin-right: 6%;
}
a{
  text-decoration-color: white;
}

.allLevelImages{
  position: relative;
  margin-bottom: 180rem;
}
/*making cards invisible*/
.card .card-block .m_sarees{
  display: none;
}
.card .card-block .m_cover{
  display: none;
}
.card .card-block .m_kurta{
  display: none;
}
.card .card-block .m_anarkali{
  display: none;
}
.card .card-block .m_kidswear{
  display: none;
}
.card .card-block .m_menswear{
  display: none;
}
.card .card-block .m_lehenga{
  display: none;
}
.card .card-block .m_roots_of_india{
  display: none;
}
.card .card-block .m_bags{
  display: none;
}
.card .card-block .m_footwear{
  display: none;
}
.card .card-block .m_home_decor{
  display: none;
}
.card .card-block .m_earrings{
  display: none;
}
.card .card-block .m_necklace_sets{
  display: none;
}
.types{
  margin-top: auto;
}
.sarees{
  position: absolute;
  height: 60rem;
}

.cover{
  position: absolute;
  left: 20rem;
}

.kurta{
  position: absolute;
  top:20rem;
  left:20rem;
}

.anarkali{
  position: absolute;
  top:20rem;
  left:60rem;
}

.lehenga{
  position: absolute;
  top:60rem;
}

.necklace_sets{
  position: absolute;
  height:20rem;
  left: 20rem;
  top:60rem;
}

.kidswear{
  position: absolute;
  top:80rem;
  left: 20rem;
 
}

.menswear{
  position: absolute;
  top: 80rem;
  left:60rem;
}

.earrings{
  position: absolute;
  top: 100rem;
}

.home_decor{
  position: absolute;
  top: 120rem;

}

.bags{
  position: absolute;
  top: 120rem;
  left: 40rem;
}
.roots_of_india{
  position: absolute;
  top: 140rem;
  left: 40rem;
}

.footwear{
  position: absolute;
  top: 160rem;
}

.logo{
  margin-left: 4%;
}
.page-footer{
  background-color: #8B0000;
}
.page-footer a{
  color: snow;
  font-size: small;
}
.page-footer a:link{
  text-decoration: none;
}
.page-footer #help{
  position: relative;
  right: 2rem;
}
.page-footer #company{
  position: relative;
  right: 1rem;
}
.page-footer #business{
  position: relative;;
  right: 1rem;
}
.page-footer #social{
  position: relative;
  right:1rem;
}
.page-footer h6{
  color:#f0f0f0;
}
.footer-copyright{
  background-color: #8B0000;
}
.footer-copyright p{
  color: #f0f0f0;
  text-align: center;
}
.page-footer #dna{
  width: 5rem;
  height: 3rem;
}
.page-footer #story{
  position: relative;
  right: 1rem;
}
.page-footer #paypal{
  position: relative;
  right: 1rem;
}
.page-footer #sponsors{
  position: relative;
  top:1rem;
  left: 1rem;
}
/* For mobile phones: */
@media (max-width: 995px){
.toggler{
  display:block;
  position: relative;
  bottom: 10rem;
  right: 2rem;
}
#course{
  transition: all 0.3s ease-in-out;
  color: black;
}
#course:hover{
  background-color: #8B0000;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
#sub-dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  margin-left: 186px;
  margin-top: -26px;
}
#sub-dropdown-menu a,.dropdown-menu a{
  color:#000 !important;
  font-size: 16px !important;
}
.dropdown:hover .dropdown-menu{
  display: block;transition: all o.5s ease-in-out;
}
.dropdown .dropdown-menu a:hover{background-color: #c9c7c7;}
#sub-dropdown:hover #sub-dropdown-menu{display:block;}


  .stationary-zoomer{
    display: block;
  }
  .stationary-zoomer .card-block{
    position: relative;
    left: 1rem;
    margin:1rem;
  }

  .checkbtn{
    display: block;
  }
  .nav-header ul{
    position: fixed;
    width: 90%;
    height: 100 vh;
    top: 10rem;
    left:-100rem;
    text-align: center;
    transition: all .5s;
  }
  .nav-header nav ul li{
    display: block;
  }
  .nav-header nav ul li a{
    font-size: 1rem;
  }
  .nav-header nav ul li a:hover{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ .nav-header ul{
    left: 0;
  }
  /*Makings Cards Visible*/
  .card .card-block .m_sarees{
    display: block;
    position: relative;
    left:1.5rem;
  }
  .card .card-block .m_cover{
    display: block;
  }
  .card .card-block .m_kurta{
    display: block;
  }
  .card .card-block .m_anarkali{
    display: block;
  }
  .card .card-block .m_kidswear{
    display: block;
  }
  .card .card-block .m_menswear{
    display: block;
  }
  .card .card-block .m_lehenga{
    display: block;
  }
  .card .card-block .m_roots_of_india{
    display: block;
  }
  .card .card-block .m_bags{
    display: block;
  }
  .card .card-block .m_footwear{
    display: block;
  }
  .card .card-block .m_home_decor{
    display: block;
  }
  .card .card-block .m_earrings{
    display: block;
  }
  .card .card-block .m_necklace_sets{
    display: block;
  }
  
  /*Making grids invisible*/
  .allLevelImages{
    position: relative;
    margin-bottom: 0rem;
  }

  .sarees{
    display: none;

  }
  .cover{
    display: none;
  }
  .kurta{
    display: none;
  }
  .anarkali{
    display: none;
  }
  .lehenga{
    display: none;
  }
  .necklace_sets{
    display: none;
  }
  .kidswear{
    display: none;
  }
  .menswear{
    display: none;
  }
  .earrings{
    display: none;
  }
  .home_decor{
    display: none;
 }
 .bags{
  display: none;
 }
 .roots_of_india{
  display: none;
}
.footwear{
  display: none;
}

.types #first a{
    margin-bottom: 5rem;
}
.search-container input{
  position: relative;
  width: 100%;
  margin-right:7rem;
  right: 0rem;
}
.search-container button{
  position: relative;
  width: 5rem;
  left: 6rem;
  bottom: 0.5rem;
}
.subscribe-container input{
  margin-left: -3rem;
  width: 100%;
}
.subscribe-container button{
  position: relative;
  left: 1.5rem;
}
#testimony{
  position: relative;
  left: 0rem;
}
.one{
  position: relative;
  left: 1rem;
}
.two{
  position: relative;
  left: 1rem;
}
.page-footer a{
  font-size: small;
}
.page-footer #help{
  position: relative;
  left: .5rem;
}
.page-footer #company{
  position: relative;
  left: .5rem;
}
.page-footer #business{
  position: relative;;
  left: .5rem;
}
.page-footer #social{
  position: relative;
  left: 0.5rem;
}
.footer-copyright{
  position: relative;
  left: 1rem;
  width: 90%;
  font-size: small;
}

}
